tutorial/tutorial/spiders/__pycache__/quotes_spider.cpython-311.pyc
tutorial/tutorial/spiders/__pycache__/__init__.cpython-311.pyc
tutorial/tutorial/__pycache__/settings.cpython-311.pyc
tutorial/tutorial/__pycache__/__init__.cpython-311.pyc
tutorial/salida.json
tutorial/quotes-2.html
tutorial/quotes-1.html
tutorial/autores.json
prueba.txt
prueba.py
prueba.txt
